{% extends 'base.html' %}


{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>Atores</h1>
    </div>

    <hr />
</div>

<div class="row">
    <div class="large-4">
        <img src="{{ STATIC_URL }}{{ ator.foto }}">
    </div>

    <div class="large-8">
        <p>Ator:</p>
        <h2>{{ ator.nome }}</h2>
        <br>
        <p>
            <strong>Pais:</strong>
            {{ ator.get_pais_display }}
        </p>
    </div>

    <hr />
</div>

<div class="row">
    <div class="large-12 columns">
        <h1>{{ filme.titulo }}</h1>
    </div>

    <hr />

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
        {% for filme in filme_list %}
            <li>
                <a href="{% url 'filme' slug_titulo=filme.slug %}">
                    <img src="{{ STATIC_URL }}{{ filme.capa }}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}