<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Repositorio de Filmes{% endblock %}</title>

    {% load staticfiles %}
    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <script src="{% static 'js/vendor/modernizr.js' %}"></script>

</head>
<body>
    <section class="myHeader">
        <div class="row">
            <a href="{% url 'home' %}">HOME</a>
        </div>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <p class="text-center"><small>© leitão_bcc - 2015.</small></p>
    </footer>

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>