{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>{{ filme.titulo }}</h1>
    </div>

    <hr />
</div>

<div class="row">
    <div class="large-4 columns">
        <img src="{{ STATIC_URL }}{{ filme.capa }}">
    </div>

    <div class="large-8 columns">
        <p>Sinopse:</p>
        <p>{{ filme.sinopse }}</p>
        <br>
        <p>Gênero:</p>
        <p>{{ filme.get_generos }}</p>
        <br>
        <p>Atores:</p>
        <p>{{ filme.get_atores }}</p>
    </div>

    <hr />
</div>

<div class="row">
    <div class="large-12 columns">
        <h1>Filmes Relacionados</h1>
    </div>

    <hr />

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
        {% for count, filme in filme_list %}
            <li>
                <a href="{% url 'filme' slug_titulo=filme.slug %}">
                    <img src="{{ STATIC_URL }}{{ filme.capa }}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}