{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="large-8 columns">
        {% if genero %}
            <h1>{{ genero.titulo }}</h1>
        {% else %}
            <h1>Listagem de Filmes</h1>
        {% endif %}
    </div>

    <div class="large-4 columns">
        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Ordenar por:</button><br>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="?ordem=1">Título Crescente (A-Z)</a></li>
          <li><a href="?ordem=2">Título Decrescente (Z-A)</a></li>
        </ul>
    </div>

    <hr />
</div>

<div class="row">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
        {% for filme in filme_list %}
            <li>
                <a href="{% url 'filme' slug_titulo=filme.slug %}">
                    <img src="{{ STATIC_URL }}{{ filme.capa }}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}